<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Record</li>
    </ol>
</nav>
<br>
{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<br>
<form class="row g-3 needs-validation form-floating" method="POST" action="/addrecord" novalidate>
    {{#each column_name}}
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputValue" placeholder=" " name={{inc @index}}>
        <label for="floatingInputValue">{{this}}</label>
    </div>
    {{/each}}

    <div class="col-2 d-grid">
        <button class="btn btn-secondary align-self-center" type="reset">Reset</button>
    </div>
    <div class="col-7 d-grid">
        <button class="btn btn-primary align-self-center" type="submit">Submit</button>
    </div>
</form>