<div class="row">
    <div class="col-6">
        <h1>Table '{{table_name}}'</h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a href="/addrecord" type="button" class="btn btn-primary align-self-center">+ Add Record</a>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            {{#each column_name}}
            <th scope="col">{{this}}</th>
            {{/each}}
            <th scope="col" class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>

        {{#each result}}
        <tr>
            {{#each this}}
            <td scope="row">{{this}}</td>
            {{/each}}
            <td class="text-end">
                <a href="/editrecord/{{inc @index}}" type="button" class="btn btn-light btn-small"><i
                        class="bi bi-pencil"></i> Edit</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>